<!-- Navbar -->
<div *ngIf="nav.visible">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mr-5" [routerLink]="['/home']">Projet 1</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link mr-5">Projet 2</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link mr-5">Projet 3</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link mr-5">Projet 4</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link mr-5" [routerLink]="['/user']">Utilisateurs</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/']">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Modifier / Supprimer -->
<div *ngIf="updateShow">
  <form class="mx-3 mt-4">
    <div class="col-9 form-group">
      <label for="utilisateur">Utilisateur</label>
      <div class="form-inline">
        <input type="text" class="form-control" id="utilisateur" [(ngModel)]="user.utilisateur" name="utilisateur" #utilisateur="ngModel" [ngClass]="{'is-invalid': errorUser}">
        <img (mouseover)="infoUserText=true" (mouseout)="infoUserText=false" src="https://image.flaticon.com/icons/png/512/3/3716.png" height="20" width="20">
        <span *ngIf="infoUserText">Seulement lettres et chiffres</span>
      </div>
      <small *ngIf="errorUser" style="color: red">Le nom d'utilisateur est invalide</small>
    </div>
    <div class="col-9 form-group">
      <label for="mot_de_passe">Mot de passe</label>
      <div class="form-inline">
        <input type="text" class="form-control" id="mot_de_passe" [(ngModel)]="user.mot_de_passe" name="mot_de_passe" #mot_de_passe="ngModel" [ngClass]="{'is-invalid': errorPass}">
        <img (mouseover)="infoPassText=true" (mouseout)="infoPassText=false" src="https://image.flaticon.com/icons/png/512/3/3716.png" height="20" width="20">
        <span *ngIf="infoPassText">Tous charactères sauf espaces</span>
      </div>
      <small *ngIf="errorPass" style="color: red">Le mot de passe est invalide</small>
    </div>

    <div class="form-group ml-3 mt-3">
      <button type="button" class="btn btn-primary mr-3" (click)="update()">Enregistrer</button>
      <button type="button" class="btn btn-primary mr-3" (click)="delete()">Supprimer</button>
      <button type="button" class="btn btn-primary mr-3" [routerLink]="['/user']">Annuler</button>
    </div>
  </form>
</div>

<!-- Ajouter -->
<div *ngIf="updateShow != true">
  <form class="mx-3 mt-4">
    <div class="col-9 form-group">
      <label for="utilisateurIns">Utilisateur</label>
      <div class="form-inline">
        <input type="text" class="form-control" id="utilisateurIns" [(ngModel)]="utilisateurIns" name="utilisateurIns" [ngClass]="{'is-invalid': errorUser}" >
        <img (mouseover)="infoUserText=true" (mouseout)="infoUserText=false" src="https://image.flaticon.com/icons/png/512/3/3716.png" height="20" width="20">
        <span *ngIf="infoUserText">Seulement lettres et chiffres</span>
      </div>
      <small *ngIf="errorUser" style="color: red">Le nom d'utilisateur est invalide</small>
    </div>
    <div class="col-9 form-group">
      <label for="mot_de_passeIns">Mot de passe</label>
      <div class="form-inline">
        <input type="text" class="form-control" id="mot_de_passeIns" [(ngModel)]="mot_de_passeIns" name="mot_de_passeIns" [ngClass]="{'is-invalid': errorPass}" >
        <img (mouseover)="infoPassText=true" (mouseout)="infoPassText=false" src="https://image.flaticon.com/icons/png/512/3/3716.png" height="20" width="20">
        <span *ngIf="infoPassText">Tous charactères sauf espaces</span>
      </div>
      <small *ngIf="errorPass" style="color: red">Le mot de passe est invalide</small>
    </div>

    <div class="form-group ml-3 mt-3">
      <button type="button" class="btn btn-primary mr-3" (click)="addUser()">Ajouter</button>
      <button type="button" class="btn btn-primary mr-3" [routerLink]="['/user']">Annuler</button>
    </div>
  </form>
</div>