<!-- Login -->
<div class="container text-center col-2 mb-5 mt-5">
  <h3>Connexion</h3>
  <br>
  <form (ngSubmit)="submit()">
    <div class="text-left">
      <label for="utilisateur">Utilisateur</label>
      <input type="text" name="utilisateur" class="form-control" [(ngModel)]="utilisateur" />
      <br>
      <label for="mot_de_passe">Mot de passe</label>
      <input type="password" name="mot_de_passe" class="form-control" [(ngModel)]="mot_de_passe" />
    </div>
    <br>
    <div class="text-right">
      <button class="btn btn-primary" type="submit">Connexion</button>
    </div>
    <br>
    <small style="color: red" class="text-center" *ngIf="erreur">{{ erreur }}</small>
  </form>
</div>