<!-- Login -->
<div class="container text-center col-2 mb-5 mt-5">
  <h3>Connexion</h3>
  <br>
  <form (ngSubmit)="submit()">
    <div class="text-left">
      <label for="utilisateur">Utilisateur</label>
      <input type="text" name="utilisateur" class="form-control" [(ngModel)]="utilisateur" />
      <br>
      <label for="mot_de_passe">Mot de passe</label>
      <input type="password" name="mot_de_passe" class="form-control" [(ngModel)]="mot_de_passe" />
    </div>
    <br>
    <div class="text-right">
      <button class="btn btn-primary" type="submit">Connexion</button>
    </div>
    <br>
    <small style="color: red" class="text-center" *ngIf="erreur">{{ erreur }}</small>
  </form>
</div>

<br>
<hr>
<br>

<!-- Register -->
<div class="container text-center col-2 mb-5 mt-5">
  <h3>Inscription</h3>
  <br>
  <form (ngSubmit)="addUser()">
    <div class="text-left">
      <label for="utilisateurIns">Utilisateur</label>
      <input type="text" name="utilisateurIns" class="form-control" [(ngModel)]="utilisateurIns" />
      <br>
      <label for="mot_de_passeIns">Mot de passe</label>
      <input type="password" name="mot_de_passeIns" class="form-control" [(ngModel)]="mot_de_passeIns" />
    </div>
    <br>
    <div class="text-right">
      <button class="btn btn-primary" type="submit">Inscription</button>
    </div>
  </form>
</div>

<br>
<hr>
<br>

<!-- Update -->
<div class="container text-center col-2 mb-5 mt-5">
  <h3>Modification</h3>
  <br>
  <form (ngSubmit)="update()">
    <div class="text-left">
      <label for="idUp">Id</label>
      <select [(ngModel)]="idUp" name="idUp">
        <option>Choisir l'id de l'utilisateur à modifier</option>
        <option *ngFor="let user of users">{{ user.id }}</option>
      </select>
      <br>
      <label for="utilisateurUp">Utilisateur</label>
      <input type="text" name="utilisateurUp" class="form-control" [(ngModel)]="utilisateurUp" />
      <br>
      <label for="mot_de_passeUp">Mot de passe</label>
      <input type="password" name="mot_de_passeUp" class="form-control" [(ngModel)]="mot_de_passeUp" />
    </div>
    <br>
    <div class="text-right">
      <button class="btn btn-primary" type="submit">Modiffier</button>
    </div>
  </form>
</div>

<br>
<hr>
<br>

<!-- Delete -->
<div class="container text-center col-2 mb-5 mt-5">
    <h3>Supprimer</h3>
    <br>
    <form (ngSubmit)="delete()">
      <div class="text-left">
        <label for="idSup">Id</label>
        <select [(ngModel)]="idSup" name="idSup">
          <option>Choisir l'id de l'utilisateur à supprimer</option>
          <option *ngFor="let user of users">{{ user.id }}</option>
        </select>
        <br>
      </div>
      <br>
      <div class="text-right">
        <button class="btn btn-primary" type="submit">Supprimer</button>
      </div>
    </form>
  </div>

  <br>
  <br>
  <br>