<!-- Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link mr-5" [routerLink]="['/home']">Projet 1</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link mr-5" [routerLink]="['/home']" >Projet 2</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link mr-5" [routerLink]="['/home']">Projet 3</a>
      </li>
      <li class="nav-item active">
          <a class="nav-link mr-5" [routerLink]="['/home']">Projet 4</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Déconnexion</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Sélection d'un projet -->
<div class="container text-center mt-5">
  <h1>Shawinigan</h1>
  <p>Gestion des projets</p>
  <br>
  <select class="form-control">
    <option selected>Choisir un projet</option>
    <option *ngFor="let projet of projets"> {{ projet.no_projet }} - {{  projet.desc_projet }} </option>
  </select>
  <br>
  <br>
  <button type="button" class="btn btn-primary mr-2" [routerLink]="['/add']">Ajouter un projet</button>
  <button type="button" class="btn btn-primary mr-2" [routerLink]="['/add']">Modifier le projet</button>
</div>