<!-- Navbar -->
<div *ngIf="nav.visible">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link mr-5" [routerLink]="['/home']">Projet 1</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link mr-5">Projet 2</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link mr-5">Projet 3</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link mr-5">Projet 4</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link mr-5" [routerLink]="['/user']">Utilisateurs</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/']">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- Ajout d'un nouveau projet -->
<button type="button" class="btn btn-primary float-right mr-4 mt-4" [routerLink]="['/add']">Nouveau projet</button>
<div class="container text-center mt-5">
  <h1>Shawinigan</h1>
  <p>Gestion des projets</p>
</div>
<br>

  <!--
    VIEILLE FAÇON D'AVOIR TOUS LES PROJETS
    <select [(ngModel)]="idProjet" class="form-control" name="idProjet">
      <option *ngFor="let projet of projets" value="{{ projet.id }}"> {{ projet.id }} - {{  projet.no_projet }} </option>
    </select>
    <br>
    <br>
  -->

  
  <!-- Ajouter un titre au projet pour une meilleure lecture des données??? -->
<div class="ml-4">
  <h4 class="pb-1">Liste des projets</h4>
  <div *ngFor="let projet of projets ">
    <span class="badge badge-dark"> {{ projet.id }} </span> -> <a [routerLink]="['/add', projet.id]" style="color:black"> {{ projet.no_projet }} </a>
  </div>
</div>